<div class="toolbar">
  <a class="toolbar-item" routerLink="/home" routerLinkActive="active">
    <span class="toolbar-icon"><i class="fa fa-home fa-2x"></i></span>
  </a>
  <a class="toolbar-item" routerLink="/spacecrafts" routerLinkActive="active">
    <span class="toolbar-icon"><i class="fa fa-rocket fa-2x"></i></span>
  </a>
  <a class="toolbar-item" routerLink="/pilots" routerLinkActive="active">
    <span class="toolbar-icon"><i class="fa fa-users fa-2x"></i></span>
  </a>
  <a class="toolbar-item" routerLink="/notifications" routerLinkActive="active">
    <span class="toolbar-icon"><i class="fa fa-bell fa-2x"></i></span>
    <div class="position-relative" *ngIf="false">
      <div class="indicator-notifications">
        0
      </div>
    </div>
  </a>
</div>
